<a href="https://colab.research.google.com/github/huongdao01/Coursera-tools-for-data-science/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


*   List popular languages for Data Science
*   List commonly libraries used by data scientists
* Table that shows data science tools
* Examples of evaluating arithmetic expressions in Python *italicized text*

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Scikit-learn
3. Keras

| Data Science Tools |
| ---|
| Data mining and transformation |
| Data visualization |
| Data analysis |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [6]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Huong Dao